# Ignore node_modules folder
node_modules/

# Ignore environment files (like .env)
.env

# Ignore log files
*.log

# Ignore build output folders
build/
dist/

# Ignore VS Code settings
.vscode/

# Ignore system files
.DS_Store

